@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Montserrat:ital,wght@0,300;1,300&display=swap');
.carousel{
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 0 1rem;
    gap: 1rem;
    width: 100%;
    font-size: 30px;
}


.carouselSlide{
    display: flex;
    width: 100%;
    height: 90vh;
    background-image: url(../../assets/img/stan.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    justify-content: space-around;
    flex-wrap: wrap;

    
}
.carouselTitle{
    font-family: 'Lobster', serif;
    justify-content: center;
    align-items: center;
    color: black;
}
.card{
    margin: 1rem;
    transition:all .9s ease;
}
.card:hover{
    transform:scale(1.25);
}
.card-title{
    font-family: 'Lilita One', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}