@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto+Mono&display=swap');
.bg-search{
    background: url('../../assets/img/search.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 35vh;
    filter: sepia(60%);
}

.bannerContent{
    margin: 1rem;
    color:white;
    display: inline;
    text-align: center;
    font-size: large;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 