@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto+Mono&display=swap');
.titulo{
  font-family: 'Caveat', cursive;
  
}

.call-button{
  background-color: rgb(114, 183, 240);
  cursor:pointer;
  padding: 0.15rem;
  color:white;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  box-shadow: 0px  5px 10px white;
  text-decoration: none;
}

.call-button:hover {
  background-color: #021e7c
}

.call-button:active {
  background-color: #021e7c;
  box-shadow: 0 5px 5px #1d182c;
  transform: translateY(4px);
}