@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Montserrat:ital,wght@0,300;1,300&display=swap');

.navbar{
    background-color: rgb(114, 183, 240);
    height: 150px;
    font-family: 'Lilita One', serif;
}

