.app-container{
  display:flex;
  flex-direction: column;
}
.app-header {
  display: flex;
  min-height:15vh;
  background-color: aquamarine;
  align-items: center;
  justify-content:center;
}

.app-footer{
  min-height: 10vh;
  background-color: violet;
}
.app-container{
  padding-top: 10px;
  background-color: bisque;
  min-height: 75vh;
}